body
{
    background-color: rgb(255, 255, 200);
}

a
{
    color: white;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* Container för health, wave och score */
#container
{
    display: flex;
    column-gap: 50px;
}

/* Id för health-bar */
#health-bar
{
    height: 50px;
    width: 100px;
    font-size: 25px;
}

/* Id för wave nummer */
#wave-bar
{
    font-size: 25px;
}

/* Id för att skriva ut score */
#score-bar
{
    font-size: 25px;
}

/* Container för meny (index.html) */
#container-menu
{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Item för meny */

.item-menu
{
    font-size: 50px;
    padding: 20px 20px 20px 20px;
    outline: 1px solid black;
}